[project]
	description = "This is a computer vision library aimed at large-scale structure-from-motion problems. Of particular interest is addressing real-time accessibility  Named for the Greek Titan, Theia, the Goddess of sight."
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kyle Wilson (wilsonkl)
[access "refs/for/refs/*"]
	read = group user/Kyle Wilson (wilsonkl)
	push = group user/Kyle Wilson (wilsonkl)
	label-Code-Review = -2..+2 group user/Kyle Wilson (wilsonkl)
	label-Verified = -1..+1 group user/Kyle Wilson (wilsonkl)
	rebase = group user/Kyle Wilson (wilsonkl)
	removeReviewer = group user/Kyle Wilson (wilsonkl)
	submit = group user/Kyle Wilson (wilsonkl)
[access "refs/heads/*"]
	read = group user/Kyle Wilson (wilsonkl)
	create = group user/Kyle Wilson (wilsonkl)
	push = +force group user/Kyle Wilson (wilsonkl)
	pushMerge = group user/Kyle Wilson (wilsonkl)
[access "refs/tags/*"]
	push = +force group user/Kyle Wilson (wilsonkl)
	pushTag = group user/Kyle Wilson (wilsonkl)
	pushSignedTag = group user/Kyle Wilson (wilsonkl)
